<h1>Listing airports</h1>
<%= will_paginate @airports, renderer: BootstrapPagination::Rails %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= link_to_sorted 'Name', :name %></td>
        <th><%= link_to_sorted 'City', :city %></td>
        <th><%= link_to_sorted 'Country', :country %></td>
        <th><%= link_to_sorted 'IATA', :iata %></td>
        <th><%= link_to_sorted 'ICAO', :icao %></td>
        <th>Latitude</td>
        <th>Longitude</td>
        <th>Altitude</td>
        <th>Timezone</td>
        <th>DST</td>
        <th><%= link_to_sorted 'Timezone (text)', :timezone_text %></td>
      </tr>
    </thead>

    <tbody>
    <% @airports.each do |airport| %>
      <tr>
      <td><%= link_to airport.name, airport %></td>
      <td><%= airport.city %></td>
      <td><%= airport.country %></td>
      <td><%= airport.iata %></td>
      <td><%= airport.icao %></td>
      <td><%= airport.latitude %></td>
      <td><%= airport.longitude %></td>
      <td><%= airport.altitude %></td>
      <td><%= airport.timezone %></td>
      <td><%= airport.dst %></td>
      <td><%= airport.timezone_text %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
