<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airline %><br>
    <%= f.text_field :airline %>
  </div>
  <div class="field">
    <%= f.label :airline_id %><br>
    <%= f.number_field :airline_id %>
  </div>
  <div class="field">
    <%= f.label :source_airport %><br>
    <%= f.text_field :source_airport %>
  </div>
  <div class="field">
    <%= f.label :source_airport_id %><br>
    <%= f.number_field :source_airport_id %>
  </div>
  <div class="field">
    <%= f.label :destination_airport %><br>
    <%= f.text_field :destination_airport %>
  </div>
  <div class="field">
    <%= f.label :destination_airport_id %><br>
    <%= f.number_field :destination_airport_id %>
  </div>
  <div class="field">
    <%= f.label :codeshare %><br>
    <%= f.check_box :codeshare %>
  </div>
  <div class="field">
    <%= f.label :stops %><br>
    <%= f.number_field :stops %>
  </div>
  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
